# 服务器 A：数据库 / 检索 / 文件存储
POSTGRES_DB=dd_rag
POSTGRES_USER=root
POSTGRES_PASSWORD=123456
POSTGRES_PORT=5433

ELASTICSEARCH_PORT=9200
ES_JAVA_OPTS=-Xms384m -Xmx384m
ELASTICVUE_PORT=8088

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
